<!--app\meteo\meteo.component.html-->

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">🏠</li>
    </ol>
  </nav>
  
   <form (ngSubmit)="onSubmit()">
    <div class="input-group">
      <input type="search" placeholder="Ville ..." id="name" name="name" 
          class="form-control" required minlength="3"
          [(ngModel)]="city.name" #name="ngModel">
  
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit" [disabled]="!name.valid">Go!</button>
      </span>
    </div>
    <small *ngIf="city.name" class="text-muted">
      {{city.name.length}} caractères
    </small>
  
    <div
      *ngIf="name.invalid && (name.dirty || name.touched) && name.errors"
      class="alert alert-danger"
    >
      <div *ngIf="name.errors['required']">
        La saisie de la ville est obligatoire
      </div>
      <div *ngIf="name.errors['minlength']">
        Doit contenit au moins 3 caratères.
      </div>
    </div>
    <hr/>

<!-- Listing des villes, boucle sur l'array : cityList -->
<h4>Liste des villes ({{cityList.length}})</h4>
<ul class="list-group">
  <li *ngFor="let city of cityList"  class="list-group-item d-flex justify-content-between align-items-center">
    <a  routerLink="/meteo/{{city.name}}" class="d-block w-100">
      {{city.name}}    
    </a>
    <button (click)="remove(city)" class="btn btn-secondary btn-sm pull-right" title="Supprimer de la liste">&times;</button>
  </li>
</ul>

<div class="alert alert-primary" role="alert" *ngIf="cityList.length==0">
  Aucune ville de saisie!
</div>


<hr/>
<p>
  Utilisation du filtrer
  <strong>json</strong> pour afficher le contenu de la variable
  <strong>cityList</strong>
</p>
<pre>
{{cityList | json}}
</pre>

<!-- fin : Listing des villes -->

<hr>
  </form>