body {
    background-color: #e9ebee;
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 16px;
    margin: 0 auto;
    max-width: 800px;
  }

  table, th, td {
  border: 1px solid black;
  border-radius: 10px;
}
.title{
     text-align: center;
}
img{
    max-width: 80px;
}