#body{
    background-color: #e9ebee;              
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 16px;
    margin: 0 auto;
    max-width: 800px;              
}

#error{
    background-color: pink;
    padding: 5px;
    border: 1spx;
    border-color: black;
    display: none;
}

#image{
    border-radius: 10px;
    padding-left: 10px;
    width: 70%;
    height: 60%;
}
.modal-adresse{
    color: mediumblue;
}