#body{
    background-color: #e9ebee;              
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 16px;
    margin: 0 auto;
    max-width: 800px;              
}

#error{
    background-color: pink;
    padding: 5px;
    border: 1spx;
    border-color: black;
    display: none;
}

#resultat{
    background-color: green;
    padding: 5px;
    color: white;
    display: none;
}

.label {
    width: 150px;
    display: inline-block;
  }
.input {
    width: 250px;
    padding: 6px 12px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 1rem;
    box-sizing: border-box; /* pour s'assurer que les margin/padding n'impacte pas la largeur width */
  }
  #form{
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
  }
  .btn-primary{
    border-radius: 5px;
    padding: 6px 12px;
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }
  form:invalid input[type="submit"] {
    background-color: gray;
  }

form:invalid input[type="text"] {
  border-color: red;
}
form:invalid input[type="email"] {
    border-color: red;
  }
  form:invalid input[type="date"] {
    border-color: red;
  }
  input:invalid + .icon-ok {
    display: none;
  }
  input:valid + .icon-ok {
    display: inline-block;
  }